body{
    background-color: rgb(167, 213, 255);
}

#score{
    float: left;
    color: white;
    font-weight: bold;
}

#time{
    float: right;
    color: white;
    font-weight: bold;
}

#sketch{
    color: red;
    font-weight: bold;
}

#title{
    font-weight: bold;
}